spring/src/main/resources/META-INF/anime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.fobgochod.com/schema/anime"
            targetNamespace="http://www.fobgochod.com/schema/anime"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="info">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="author" type="xsd:string"/>
            <xsd:attribute name="country" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
