spring/src/main/resources/META-INF/animal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.fobgochod.com/schema/animal"
            targetNamespace="http://www.fobgochod.com/schema/animal"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="cat">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="kind" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
